footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 101%;
    height: 100px;
    overflow-x: hidden; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "TextoCopyright LogoRodape .";
    align-items: center;
    background-color: #282829;
    border: 1px solid #282829;
    margin: 0px -10px -8px -7.5px;
  }
  
  .TextoCopyright {
    justify-self: center;
    grid-area: TextoCopyright;
  }
  
  .LogoRodape {
    justify-self: center;
    grid-area: LogoRodape;
  }
  
  footer small {
    color: white;
  }
  
  @media (max-width: 576px) {
    .cabecalho .logo {
      padding: 2rem;
    }
  
    .cabecalho p {
      font-size: 1.5rem
    }
  }
  
  @media (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  