.turmaPage-container{
    text-align: center;
    padding: 20px;
}

.container-cards {
    margin-top: 100px;
    margin-left: 20px;
    background-color: #FFFFFF;
    padding: 16px;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.card{
  float: left;
  width: 22.00%;
}

.container-cards:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
.card {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
}